body {
  background: hsla(259, 100%, 17%, 0.772);
  justify-items: center;
  align-items: center;
  height: 100vh;
  margin: 50px;
}

#display {
  width: 100%;
  padding: 20px;
  border: none;
  font-family: Arial, sans-serif;
  background-color: hsla(323, 50%, 14%, 0.301);
  color: #ffffff;
  font-weight: bold;
  font-size: x-large;
  font-family: arial, sans-serif;
}

#calculator {
  font-family: Arial, sans-serif;
  background-color: hsla(288, 48%, 44%, 0.349);
  border-radius: 15px;
  max-width: 300px;
  overflow: hidden;
  box-shadow: inset 0 -3em 3em rgba(71, 3, 155, 0.3),
    0 0 0 0px rgb(255, 174, 243), 0.3em 0.3em 1em rgba(0, 0, 0, 0.2);
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px 20px;
  gap: 5px;
  align-items: center;
}

button {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none;
  background-color: rgb(69, 0, 130);
  color: aliceblue;
  font-weight: bold;
  font-size: x-large;
  font-family: arial, sans-serif;
  box-shadow: inset 0 -3em 3em rgba(129, 78, 211, 0.3),
    0 0 0 1px rgba(0, 0, 0, 0), 0.3em 0.3em 1em rgba(0, 0, 0, 0.66);
}
